body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: hwb(0 84% 16%);
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  color: #FFF;
  background: #333;
  align-items: center;
}
.nav-bar-title-link {
  color: inherit;
  text-decoration: none;
}
.nav-bar-title-link:hover {
  color: #222;
}

.nav-bar-ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

.nav-bar-link {
  text-decoration: underline;
  color: inherit;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-bar-link:hover {
  color: #222;
}

.movie-container {
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.search-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}



.search-container .input-search {
  height: 30px;
  width: 400px;
  border: none;
  background-color: #333;
  padding: 10px;
}
.input-search {
  color: #FFF;
}
.input-search::placeholder {
  color: #FFF;
}

.search-button {
  width: 200px;
  background-color: hsl(0, 95%, 64%);
  border: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}

.search-button:hover {
  background-color: hsl(0, 95%, 75%);
}

@media (max-width: 756px) {

  .search-button {
    width: 100%;
    height: 40px;
  }

  .search-container {
    display: flex;
    max-width: 400px;
  }
}

.movie-card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
}

.movie-card {
  background-color: hwb(0 20% 80% / 0.757);
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.movie-title {
  font-weight: bold;
}

.movie-card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


@media (max-width: 1500px) {
  .movie-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1040px) {
  .movie-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .movie-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 530px) {
  .movie-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.trending-movies {
  margin-bottom: 100px;
}